@import '../../styles/variables.scss';

.header {
    display: flex;
    background-color: $support-blue;
    justify-content: space-between;
    h1 {
        padding: $base-padding;
        margin: $base-margin;
        color: $white;
    }
}

.cart {
    margin: $base-margin;
    padding: 20px 20px 20px 20px;
    display: flex;
    .count {
        background-color: $support-red;
        color: white;
        width: 20px;
        height: 15px;
        border-radius: 7px;
        padding-left: 5px;
        margin-left: 3px;
        line-height: 15px;
    }
}

.cart-icon {
    width: 15px;
    height: 15px;
}
