@import '../../styles/variables.scss';

.header {
    display: flex;
    background-color: $support-blue;
    justify-content: space-between;
    color: $white;
    h1 {
        padding: $base-padding;
        margin: $base-margin;
    }
}

.cart {
    margin: $base-margin;
    padding: 15px 20px 15px 20px;
    .count {
        background-color: $support-red;
        margin: 0 0 0 3px;
        padding: 0 7px;
        border-radius: 7px;
    }
}

.cart-icon {
    width: 20px;
    margin-bottom: -3px;
}
